{% extends 'layout.html' %}
{% block content %}
<h1 style="color: red; font-weight: bold;">{{ message }}</h1>
<h1 style="color: orange; font-weight: bold;">Key {{ key}}</h1>
<h1 style="color: green; font-weight: bold;">Score {{ score }}</h1>
<table id="game2048__area" class="game2048__area" tabindex="0">
    <!-- 
    <tr>
            <td class="cell">
                <div style="display: block; height: 100%; width: 100%;" class="val-2048">16</div>
            </td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>-->
    <tbody>
        {% for row in gamestate %}
        <tr>
        {% for cell in row %}
            <td class="cell">
            {% if cell != 0 %}
            <div style="display: block; height: 100%; width: 100%;" class="val-{{ cell }}">{{ cell }}</div>     
            {% endif %}
            </td>
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center">
<a href="?key=up" class="btn btn-primary" role="button">↑</a><br>
<a href="?key=left" class="btn btn-primary">←</a> <a href="?key=down" class="btn btn-primary">↓</a> <a href="?key=right" class="btn btn-primary">→</a>
<br><br>
<a href="?reset=1" class="btn btn-danger">Reset</a> 
</div>
{% endblock %}